@model FullUserModel

@{
    ViewData["Title"] = "Main";
}

<h1>Welcome!</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
    </dl>
</div>

<div>
    @if (Model.IsVerified)
    {
        @Html.ActionLink("Dangerous Objects", "GetDangerousObjects", new {token = Model.Token, ownerId = Model.Id}); <br />
        @Html.ActionLink("Messages", "GetMessages", new {token = Model.Token, ownerId = Model.Id});
    }
    @if (Model.IsAdmin)
    {
        @Html.ActionLink("Verify Users", "Index", new { token = Model.Token }); <br />
    }
</div>